language: python
python: 
 - "2.7"

before_script:
 - wget https://storage.googleapis.com/appengine-sdks/featured/google_appengine_1.9.14.zip
 - unzip -q google_appengine_1.9.14.zip 

install: pip install -r requirements.txt
script: 
# run api and storage tests using storage=filesystem
 - RUNNING_ON_TRAVIS_CI=1 python ./test_image_resize_service.py
# enable the datastore storage and run the test again
 - sed -e "s/\'FILESYSTEM\'/\'APPENGINE\'/" production.cfg > prod_appengine.cfg && mv prod_appengine.cfg production.cfg
 - RUNNING_ON_TRAVIS_CI=1 python ./test_image_resize_service.py

