<html>
<head>
    <title>Image Service Demo</title>
    <script src="/static/js/dropzone.js"></script>
    <script src="/static/js/dropzone.config.js"></script>
    <script src="/static/js/jquery-2.1.3.min.js"></script>
    <link rel="stylesheet" href="static/css/dropzone-basic.css"/>
    <link rel="stylesheet" href="static/css/dropzone.css"/>
</head>
<body>
<h1>Flask Image Service - FIMS</h1>

<p>
    A flask based web service to resize images. Specify a project in your *.cfg file to use as a namespace for your
    images.
    Then just POST some images and GET them cropped or fitted. the syntax to use is directly visible in the
    URL:<br/><br/>

    <em>
    GET /images/image_name_without_extension@[fit|crop]-[width]x[height]>.extension
    </em>
</p>

<h2>Drag and Drop Demo</h2>


<div class="dropzone" style="height:100px;width:600px"></div>

<h3>Results</h3>

<div id="Result"></div>


<script>
    // God i hate javascript, it's just so messy ;)
    new Dropzone("div.dropzone", {
        url: location.protocol + "//" + window.location.host + "/images/",
        acceptedMimeTypes: 'image/*',
        headers: {"Authorization": "Token demo"},
        success: function (file, responseText) {
            var extension = responseText.url.split('.').pop();
            var fileName = responseText.url.split('.').shift();

            var sizes = [[300, 300], [200, 200], [100, 100]];
            resultZone = $("#Result");
            image_div = $('<div class="image_box" ></div>');

            image_div.append('<p><a href="' + fileName + '.' + extension + '" target="_blank">Original</a></p>');
            for (i in sizes) {
                size = sizes[i];
                crop_image_src = fileName + '@crop-' + size[0] + 'x' + size[1] + '.' + extension;
                fit_image_src = fileName + '@fit-' + size[0] + 'x' + size[1] + '.' + extension;

                image_div.append('<img src="' + crop_image_src + '"/>');
                image_div.append('<img src="' + fit_image_src + '"/>');
                image_div.append('<p><a href="' + crop_image_src + '" target="_blank">' + crop_image_src + '</a></p>');
                image_div.append('<p><a href="' + fit_image_src + '" target="_blank">' + fit_image_src + '</a></p>');
            }
            resultZone.append(image_div);

            $("html, body").animate({scrollTop: resultZone.offset().top}, 600);
            this.removeFile(file)
        }
    });
</script>

</body>
</html>