<!doctype html>
<html>
<head><title>Welcome to image service</title></head>
<body>
<p>
    <b>what?</b><br /><a href="http://github.com/flurischt/image_resize_service">github.com/flurischt/image_resize_service</a><br /><br />
    <b>setup</b>
    <ul>
    <li>choose a STORAGE in production.cfg</li>
    <li>configure SOURCE_DIR and RESIZED_DIR if STORAGE=FILESYSTEM</li>
    <li>upload some images or add them to SOURCE_DIR/project/ (if storage=FILESYSTEM)</li>
    <li>access them using /img/project_name/image_name@dimension.image_extension to get a resized image</li>
    <li>or access them using /img/project_name/image_name.extension to get the full image</li>
    </ul>
    <b>Checkout the API:</b><br />
    <a href="/api/spec.html#!/spec.json">Swagger API Documentation</a><br/><br />
    <b>upload an image!</b><br />
    <a href="/uploadform">/uploadform</a><br /><br />
    <b>example</b><br />
    <ul>
    <li><a href="/img/demo_project/welcome@fit-small.jpg">Fit: demo_project/welcome@small.jpg</a></li>
    <li><a href="/img/demo_project/welcome@crop-small.jpg">Crop: demo_project/welcome@small.jpg</a></li>
    <li><a href="/img/demo_project/welcome@fit-medium.jpg">Fit: demo_project/welcome@medium.jpg</a></li>
    <li><a href="/img/demo_project/welcome@crop-medium.jpg">Crop: demo_project/welcome@medium.jpg</a></li>
    <li><a href="/img/demo_project/welcome@fit-large.jpg">Fit: demo_project/welcome@large.jpg</a></li>
    <li><a href="/img/demo_project/welcome@crop-large.jpg">Crop: demo_project/welcome@large.jpg</a></li>
    <li><a href="/img/demo_project/welcome.jpg">Fullsize</a></li>
    </ul>
</p>
</body>
</html>